
{{#if showNew}}
<h2>Your Weddings</h2>
<button>
    <a href="/wedding/create">New wedding</a>
</button>
{{else}}
<h2>Weddings you've been invited to</h2>
{{/if}}
{{#each weddings}}
    <label for={{_id}}>RSVP</label>
    <input type="checkbox" name={{this}} >
    </br>
    <a href="/wedding/details/{{_id}}">
        <p>{{name}}</p> </a>
        <p>At the: {{location}}</p> 
        <p>Date {{date}} time {{time}}</p>   
    <hr>

{{/each}}