<h2>All Weddings</h2>

{{#each rooms}}

    <a href="/wedding/details/{{_id}}">
        <p>{{name}}</p> </a>
        <p>At the: {{location}}</p> 
        <p>Date {{date}} time {{time}}</p>   
    <hr>

{{/each}}