<a href='/wedding/details/{{foundWedding._id}}'>Main weeding page</a>
<h2>Edit Wedding</h2>

<form action="/wedding/edit/{{foundWedding._id}}" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="{{foundWedding.name}}">

    <label for="description">Description</label>
    <input id="description" type="text" name="description"value="{{foundWedding.description}}">

    <label for="imageUrl">Image</label>
    <input id="imageUrl" type="text" name="imageUrl" value="{{foundWedding.imageUrl}}">

    <label for="location">Location</label>
    <input id="location" type="text" name="location" value="{{foundWedding.location}}">

    <label for="date">Date</label>
    <input id="date" type="date" name="date" value="{{dateYear}}-{{dateMonth}}-{{dateDay}}">

    <label for="time">Time</label>
    <input id="time" type="time" name="time" value="{{foundWedding.time}}">

    <button type="submit">Edit Wedding</button>

</form>