<h2>Wedding Details</h2>

<!--img src="{{imageUrl}}" alt="wedding-picture"/-->
<h3>{{name}}</h3>
<p>{{description}}</p>
<br>
<p>Location: {{location}}</p>
<p>Date: {{date}}</p>
<p>Time: {{time}}</p>

<a href="/wedding/edit/{{_id}}">Edit Wedding</a>
<a href="/wedding/delete/{{_id}}">Delete Wedding</a>

<br>

