<h2>Wedding Details</h2>
<nav>
    <ul>
        <li><a href="/wedding/details/{{foundWedding._id}}">Details</a></li>
        <li><a href="/registry/{{foundWedding._id}}">Gifts</a></li>
    </ul>
</nav>
<!--img src="{{imageUrl}}" alt="wedding-picture"/-->
<h3>{{foundWedding.name}}</h3>
<p>{{foundWedding.description}}</p>
<br>
<p>Location: {{foundWedding.location}}</p>
<p>Date: {{foundWedding.date}}</p>
<p>Time: {{foundWedding.time}}</p>
{{#if showEdit}}
<button><a href="/wedding/add-guests/{{foundWedding._id}}">Guest List</a></button>
<button><a href="/wedding/edit/{{foundWedding._id}}">Edit Wedding</a></button>
<button><a href="/wedding/delete/{{foundWedding._id}}">Delete Wedding</a></button>

{{/if}}
<br>

