<h2>Registry</h2>
<nav>
    <ul>
        <li><a href="/wedding/details/{{weddingId}}">Details</a></li>
        <li><a href="/registry/{{weddingId}}">Gifts</a></li>
    </ul>
</nav>
</br>
{{#if showEdit}}
<button>
    <a href="/registry/create/{{weddingId}}">New gift</a>
</button>
    <p>Total amount reveived {{totalGift}}</p>
{{#each foundGift}}
    <a href="/registry/details/{{_id}}">
        <p>{{name}}</p> </a>
        <button>
            <a href="/registry/edit/{{_id}}"> Edit</a>
        </button>
        <button>
            <a href="/registry/delete/{{_id}}"> Delete</a>
        </button>
        <p>{{description}}</p>
        <p>$ {{price}}</p>
        <p>{{availableAmount}}</p>
        
    <hr>

{{/each}}
{{else}}
{{#each foundGift}}
    <a href="/registry/details/{{_id}}">
        <p>{{name}}</p> </a>
        <p>{{description}}</p>
        <p>$ {{price}}</p>
        <p>{{availableAmount}}</p>
        {{#if availableAmount}}
        <button>
            <a href="/registry/buy/{{_id}}"> Buy</a>
        </button>
        {{/if}}
    <hr>

{{/each}}
{{/if}}

